src/src/main/webapp/WEB-INF/classes/example.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xrd="http://x-road.ee/xsd/x-road.xsd" xmlns:tns="http://vrk-test.x-road.fi/producer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="getRandom" targetNamespace="http://vrk-test.x-road.fi/producer">
    <wsdl:types>
        <xsd:schema targetNamespace="http://vrk-test.x-road.fi/producer">
            <xsd:import namespace="http://x-road.ee/xsd/x-road.xsd" schemaLocation="http://x-road.ee/xsd/x-road.xsd"/>
            <xsd:element name="getRandom" nillable="true" />
            <xsd:element name="getRandomResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="faultCode" type="xrd:faultCode" nillable="true"/>
                                    <xsd:element name="faultString" type="xrd:faultString" nillable="true"/>
                                    <xsd:element name="data" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:appinfo>
                                                <xrd:title>Service response</xrd:title>
                                            </xsd:appinfo>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>	
            <xsd:element name="helloService">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="name" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:appinfo>
                                                <xrd:title>Name</xrd:title>
                                            </xsd:appinfo>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="helloServiceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="request">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="name" nillable="true" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="response">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="faultCode" type="xrd:faultCode" nillable="true"/>
                                    <xsd:element name="faultString" type="xrd:faultString" nillable="true"/>
                                    <xsd:element name="data" type="xsd:string">
                                        <xsd:annotation>
                                            <xsd:appinfo>
                                                <xrd:title>Service response</xrd:title>
                                            </xsd:appinfo>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>           
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="standardheader">
        <wsdl:part name="consumer" element="xrd:consumer"/>
        <wsdl:part name="producer" element="xrd:producer"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="id" element="xrd:id"/>
    </wsdl:message>

    <wsdl:message name="getRandom">
        <wsdl:part name="body" element="tns:getRandom"/>
    </wsdl:message>
    <wsdl:message name="getRandomResponse">
        <wsdl:part name="body" element="tns:getRandomResponse"/>
    </wsdl:message>
    <wsdl:message name="helloService">
        <wsdl:part name="body" element="tns:helloService"/>
    </wsdl:message>
    <wsdl:message name="helloServiceResponse">
        <wsdl:part name="body" element="tns:helloServiceResponse"/>
    </wsdl:message>

    <wsdl:portType name="sdsbPortType">
        <wsdl:operation name="getRandom">
            <wsdl:documentation>
                <xrd:title>Get Random Service</xrd:title>
                <xrd:notes>Returns a random int between 1 and 100.</xrd:notes>
            </wsdl:documentation>
            <wsdl:input message="tns:getRandom"/>
            <wsdl:output message="tns:getRandomResponse"/>
        </wsdl:operation>
        <wsdl:operation name="helloService">
            <wsdl:documentation>
                <xrd:title>Hello Service</xrd:title>
                <xrd:notes>Takes user's name as a parameter and returns a greeting from adapter server.</xrd:notes>
            </wsdl:documentation>
            <wsdl:input message="tns:helloService"/>
            <wsdl:output message="tns:helloServiceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
  
    <wsdl:binding name="sdsbBinding" type="tns:sdsbPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getRandom">
            <soap:operation soapAction="" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:standardheader" part="consumer" use="literal"/>
                <soap:header message="tns:standardheader" part="producer" use="literal"/>
                <soap:header message="tns:standardheader" part="userId" use="literal"/>
                <soap:header message="tns:standardheader" part="id" use="literal"/>
                <soap:header message="tns:standardheader" part="service" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:standardheader" part="consumer" use="literal"/>
                <soap:header message="tns:standardheader" part="producer" use="literal"/>
                <soap:header message="tns:standardheader" part="userId" use="literal"/>
                <soap:header message="tns:standardheader" part="id" use="literal"/>
                <soap:header message="tns:standardheader" part="service" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="helloService">
            <soap:operation soapAction="" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:standardheader" part="consumer" use="literal"/>
                <soap:header message="tns:standardheader" part="producer" use="literal"/>
                <soap:header message="tns:standardheader" part="userId" use="literal"/>
                <soap:header message="tns:standardheader" part="id" use="literal"/>
                <soap:header message="tns:standardheader" part="service" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="body" use="literal"/>
                <soap:header message="tns:standardheader" part="consumer" use="literal"/>
                <soap:header message="tns:standardheader" part="producer" use="literal"/>
                <soap:header message="tns:standardheader" part="userId" use="literal"/>
                <soap:header message="tns:standardheader" part="id" use="literal"/>
                <soap:header message="tns:standardheader" part="service" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
  
    <wsdl:service name="vrk-testService">
        <wsdl:port binding="tns:sdsbBinding" name="sdsbServicePort">
            <soap:address location="http://193.166.25.15:8080/XRdAdapter/Endpoint"/>
            <xrd:address producer="vrk-test"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
